<% @page_title = "Manage Account" %>

<!-- Info Blcoks -->
<div class="row">
    <div class="col-sm-4 info-blocks">
        <i class="icon-book icon-info-blocks"></i>
        <div class="info-blocks-in">
            <a href="/profile/edit">
              <h3>Edit Profile</h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4 info-blocks">
        <i class="icon-map-marker icon-info-blocks"></i>
        <div class="info-blocks-in">
            <a href="/addresses">
              <h3>Addresses</h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4 info-blocks">
        <i class="icon-money icon-info-blocks"></i>
        <div class="info-blocks-in">
            <h3>Orders</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
        </div>
    </div>
</div>

    <!--End Info Blcoks -->


