<% @page_title = "Price List" %>

<% content_for :css do %>
<link rel="stylesheet" href="../assets/css/pages/page_pricing.css">
<% end %>

<!-- Pricing -->
<div class="row margin-bottom-40">
  <% @products.each do |product| %>
    <div class="col-md-3 col-sm-6">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3><%= product.prod_title %> 
            <span><%= product.prod_sub_title %></span>
          </h3>
          <h4><i>$</i><i><%= @product.prod_price %></i> <span>Per Month</span></h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li><i class="icon-tags"></i> At vero eos</li>
          <li><i class="icon-asterisk"></i> No Support</li>
          <li><i class="icon-heart"></i> Fusce condimentum</li>
          <li><i class="icon-star"></i> Ut non libero</li>
          <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
        </ul>
        <div class="pricing-footer">
          <p><%= product.prod_description %></p>
          <button type="submit">Order Now</button>
        </div>                    
      </div>
    </div>
  <% end %>
</div><!--/row-->
<!--//End Pricing -->